.product-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 7vw);
}

.gallery-container {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-expanded-container {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.product-info-container {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-expanded {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.product-summary-container {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1.2vw);
}

.gallery-img {
  width: 95%;
  height: 100%;
  object-fit: cover;
}

.gallery-main {
  grid-column-start: 1;
  grid-column-end: 30;
  grid-row-start: 1;
  grid-row-end: 32;
  overflow: hidden;
}

.gallery-zoomed {
  grid-column-start: 1;
  grid-column-end: 30;
  grid-row-start: 1;
  grid-row-end: 32;
  background-repeat: no-repeat;
}

.gallery-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 1px;
}

.gallery-thumb:hover {
  border: solid 2px white;
  cursor: pointer;
}

.gallery-thumb-0 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 9;
}

.gallery-thumb-1 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 9;
  grid-row-end: 14;

}

.gallery-thumb-2 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 14;
  grid-row-end: 19;

}

.gallery-thumb-3 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 19;
  grid-row-end: 24;
}

.gallery-thumb-4 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 24;
  grid-row-end: 29;
}

.gallery-nav:hover {
  color: lightgray;
  cursor: pointer;
}

.gallery-nav-up {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery-nav-down {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 29;
  grid-row-end: 30;
}

.gallery-nav-left {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 17;
  grid-row-end: 18;
}

.gallery-nav-right {
  grid-column-start: 23;
  grid-column-end: 25;
  grid-row-start: 17;
  grid-row-end: 18;
}

.gallery-modal-open {
  grid-column-start: 27;
  grid-column-end: 28;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery-modal-open:hover {
  color: lightgray;
  cursor: pointer;
}

.product-info {
  margin-top: 50px;
}

.overview-rating {
  display: flex;
  flex-direction: row;
}

.rating-link {
  margin-left: 10px;
  font-size: small;
  cursor: pointer;
}

.product {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.product-category {
  font-size: large;
  margin-top: 5px;
  padding-top:25px;
}

.product-name {
  font-size: xxx-large;
  margin-bottom: 10px;
}

.product-price {
  font-size: large;
}

.product-sale {
  margin-left: 10px;
}

.style-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: solid black 1px;
}

.style-img:hover {
  cursor: pointer;
}

.style-selector {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.style-selector img {
  display: block;
}

.style-selector .style-check {
  position: absolute;
  top: 0;
  left: 0;
}

.product-summary {
  margin-top: 50px;
  padding-top: 20px;
}

.product-slogan {
  font-size: large;
}

.product-features {
  justify-self: end;
}

.checkout {
  font-size: large;
  font-weight: 600;
  padding-left: 10px;
  background-color:#dbe7f7ff;
}

.checkout-dark {
  font-size: large;
  font-weight: 600;
  padding-left: 10px;
  background-color:#454B4D;
  color:antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(240, 238, 238, 0.815);
}

#select-sizes {
  width: 65%;
  height: 3vw;
  margin-right: 15px;
}

#select-qty {
  width: 30%;
  height: 3vw;
}

#add-item {
  margin-top: 15px;
  width: 80%;
  height: 3vw;
}

/* Expanded Gallery Modal */
.gallery-expanded-container {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 1;
}

.gallery-modal {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 700px;
}

.gallery-modal-image {
  height: 100%;
  width: 100%;
}

.gallery-modal-image div {
  height: 100%;
  width: 100%;
}

.gallery-modal-image div img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.gallery-modal-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-weight: bold;
}

.gallery-icons {
  display: block;
  text-align: center;
}

.gallery-icon {
  margin: 5px;
}

.gallery-icon:hover {
  cursor: pointer;
}

.expanded-nav-left,
.expanded-nav-right {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.expanded-nav-right {
  right: 0;
}

.expanded-nav-left:hover,
.expanded-nav-right:hover {
  cursor: pointer;
}
