.reviews-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 0.5fr
}

.reviews-list {
  height: 70%;
  overflow-y: auto;
}

.review {
  border-bottom: 2px solid #dbe7f7ff;
  margin-bottom: 10px
}

.review-header {
  display: flex;
  justify-content: space-between
}

.review-summary {
  font-weight: bold;
  font-size: 20px
}

.review-response {
  background-color: lightblue
}

.review-helpful-rating {
  display: flex;
  justify-content: flex-start
}

.review-helpful-rating-sub {
  margin-right: 5px;
}

.review-division {
  color: #dbe7f7ff;
}

.review-btn {
  background-color: #dbe7f7ff;
  border: none;
  padding: 10px 20px;
  text-align: 'center';
  margin-right: 5px;
  cursor: pointer;
  align-items: center;
}

.rating-summary {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.rating-score {
  font-weight: bold;
  font-size: 30px;
  margin-right: 10px;
}

.rating-recommendation {
  margin-bottom: 10px;
}

.star-breakdown {
  margin-bottom: 10px;
}

.star-breakdown-div {
  display: flex;
}

.star-breakdown-div:hover {
  background: linear-gradient(to right, #dbe7f7ff 80%, white 20%);
}

.star-breakdown-bar-container {
  background-color: #dcdcdc;
  width: 40%;
  height: 10px;
  z-index: 100;
  margin-right: 10px;
  margin-top: 5px;
}

.product-breakdown {
  margin-top: 10px;
}

.review-modal {
  width: 50%;
  height: 70%;
  border: 1px solid #dbe7f7ff;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 100;
  display: block;
  top: 10%;
  left: 23%;
  background-color: white;
}

.review-modal-content {
  width: 70%;
  margin: auto;
}

.review-modal-input {
  margin-bottom: 10px;
}

.sort-dropdown {
  border: none;
  border-bottom: 1px solid #b1d2b0ff;
}