#ratings-and-reviews {
  display: grid;
  margin-bottom: 5%;
  grid-template-columns: 5fr 40fr 5fr;
  grid-template-rows: 1fr min-content;
}

.ratings-and-reviews-title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.ratings-and-reviews {
  display: grid;
  grid-template-columns: 13fr 27fr;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}


.ratings-container {
  grid-column-start: 1;
  grid-column-end: 2;
}

.reviews-container {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 95%;
}

.reviews-list {
  margin-top: 5%;
  overflow-y: auto;
}

.review {
  border-bottom: 2px solid #dbe7f7ff;
  margin-bottom: 20px
}

.review-dark {
  border-bottom: 2px solid #454B4D;
  margin-bottom: 20px
}

.review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px
}

.review-body {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px
}

.review-summary {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px
}

.review-recommendation {
  margin-bottom: 20px
}

.review-response {
  background-color: #dbe7f7ff;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.review-response-dark {
  background-color: #454B4D;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.review-photo-container {
  margin-bottom: 20px;
}

.review-photo {
  width: auto;
  height: 100px;
  margin-right: 20px;
}

.review-photo:hover {
  cursor: pointer;
}

.review-photo-modal {
  width: 90%;
  height: 90%;
  border: 1px solid #dbe7f7ff;
  padding: 10px;
  position: fixed;
  z-index: 100;
  display: block;
  top: 2%;
  left: 2%;
  background-color: white;
  overflow-y: auto;
  display: flex;
}

.review-photo-modal-dark {
  width: 90%;
  height: 90%;
  border: 1px solid #454B4D;
  padding: 10px;
  position: fixed;
  z-index: 100;
  display: block;
  top: 2%;
  left: 2%;
  background-color: #454B4D;
  overflow-y: auto;
  display: flex;
}

.review-photo-expanded {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.review-helpful-rating {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px
}

.review-helpful-rating-sub {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
  margin-bottom: 10px
}

.review-division {
  color: #dbe7f7ff;
}

.review-buttons {
  margin-bottom: 20px;
}

.review-btn {
  background-color: #dbe7f7ff;
  border: none;
  padding: 10px 20px;
  text-align: 'center';
  margin-right: 5px;
  cursor: pointer;
  align-items: center;
}

.review-btn-dark {
  background-color: #454B4D;
  border: none;
  padding: 10px 20px;
  text-align: 'center';
  margin-right: 5px;
  cursor: pointer;
  align-items: center;
  color:antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(240, 238, 238, 0.815);
}

.rating-summary {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.rating-score {
  font-weight: bold;
  font-size: 50px;
  margin-right: 10px;
}

.rating-recommendation {
  margin-bottom: 10px;
}

.star-breakdown {
  margin-bottom: 30px;
}

.star-breakdown-div {
  display: flex;
  margin-top: 10px;
}

.star-breakdown-div-dark {
  display: flex;
  margin-top: 10px;
}

.star-breakdown-div:hover {
  background: linear-gradient(to right, #dbe7f7ff 80%, white 20%);
  cursor: pointer;
}

.star-breakdown-div-dark:hover {
  background: linear-gradient(to right, #AAAAAA 80%, #21201c 20%);
  cursor: pointer;
}

.star-breakdown-bar-container {
  background-color: #dcdcdc;
  width: 50%;
  height: 10px;
  z-index: 100;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.star-breakdown-bar-container-dark {
  background-color: #454B4D;
  width: 50%;
  height: 10px;
  z-index: 100;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.product-breakdown {
  margin-top: 10px;
  width: '50%';
}

.product-breakdown-container {
  display: grid;
  grid-template-columns: repeat(3, 28%);
  grid-template-rows: repeat(2, 15px);
  row-gap: 5px;
  margin-bottom: 10px;
}

.product-breakdown-option-0 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 10px;
}

.product-breakdown-option-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 10px;
}

.product-breakdown-option-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 10px;
}

.product-breakdown-indicator-0 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: small;
}

.product-breakdown-indicator-1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: small;
}

.product-breakdown-caret-down {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #b1d2b0ff;
}

.product-breakdown-caret-down-dark {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #5D6D58;
}

.review-modal {
  width: 50%;
  height: 90%;
  border: 1px solid #dbe7f7ff;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 100;
  display: block;
  top: 5%;
  left: 25%;
  background-color: white;
  overflow-y: auto;
}

.review-modal-dark {
  width: 50%;
  height: 90%;
  border: 1px solid #454B4D;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 100;
  display: block;
  top: 5%;
  left: 25%;
  background-color: #454B4D;
  overflow-y: auto;
  color: antiquewhite !important;
  box-shadow: 0 4px 8px 0 rgba(240, 238, 238, 0.815) !important;
}

.review-modal-content {
  width: 80%;
  margin: auto;
}

.review-modal-title {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
}

.review-modal-subtitle {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.review-modal-star-rating {
  margin-bottom: 30px;
}

.review-modal-input {
  margin-bottom: 10px;
}

.review-modal-textbox {
  width: 99%;
}

.review-modal-textbox-dark {
  width: 99%;
  background-color: #454B4D;
  border-color: antiquewhite;
}

.review-modal-textbox-body {
  width: 99%;
  height: 100px;
}

.review-modal-textbox-body-dark {
  width: 99%;
  height: 100px;
  background-color: #454B4D;
  border-color: antiquewhite;
}

.char-rating-container {
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5px;
  margin-bottom: 10px;
}

.char-rating-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}
.char-rating-option-0 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.char-rating-option-1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.char-rating-option-2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.char-rating-option-3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.char-rating-option-4 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.char-option-indicator-0 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: small;
}

.char-option-indicator-1 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: small;
}

.char-option-chosen {
  font-style: italic;
  color: #92a4b3;
  font-size: small;
  margin-left: 90px;
}

.char-option-chosen-dark {
  font-style: italic;
  color: #21201c;
  font-size: small;
  margin-left: 90px;
}

.add-review-btns {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.sort-dropdown {
  border: none;
  border-bottom: 1px solid #b1d2b0ff;
}

.sort-dropdown-dark {
  background-color: #21201c !important;
  color:antiquewhite !important;
  border: none;
  border-bottom: 1px solid #5D6D58;
}

