#related-products {
  margin-top: 8%;
  margin-bottom: 5%;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
}

.carousel {
  display: grid;
  grid-template-columns: 5fr 10fr 10fr 10fr 10fr 5fr;
  grid-template-rows: 0.3fr 1fr;
  margin-top: 3%;
  max-height: 90vh;
}

.carouselHeading {
  grid-column: 2 / span 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 5%;
}

.relatedCardContainer {
  grid-column: 2 / span 4;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.outfitCardContainer {
  grid-column: 3 / span 3;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.right {
  grid-column: 6;
  margin-right: 5%;
}

.left, .right {
  grid-row: 2;
  text-align: center;
  margin: auto 0;
}
/* position star and circle times button */
.icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-left: 80%;
}

.card {
  /* Add shadows to create the "card" effect */
  display: inline-block;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  height: 20em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -10%;
  grid-row-start: 2;
  padding-left: 5%;
}

.card-dark {
  /* Add shadows to create the "card" effect */
  display: inline-block;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(240, 238, 238, 0.815) !important;
  transition: 0.3s;
  width: 80%;
  height: 20em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -10%;
  grid-row-start: 2;
  padding-left: 5%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image {
  width: 100%;
  height: 10em;
  margin-left: -2.5%;
}

.addCard {
  align-items: center;
  text-align: center;
}

.modal {
  position: fixed;
  z-index: 2;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  border: 1px solid #dbe7f7ff;
  padding: 1.5% 2% 2.5%;
  display: block;
  width: 50%;
  height: 25%;
  top: 25%;
  left: 22%;
}

.modal-dark {
  position: fixed;
  z-index: 2;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #454B4D;
  padding: 1.5% 2% 2.5%;
  display: block;
  width: 50%;
  height: 25%;
  top: 25%;
  left: 22%;
  box-shadow: 0 4px 8px 0 rgba(240, 238, 238, 0.815) !important;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.modal-content > table {
  table-layout: fixed;
  width: 100%;
}

.features {
  text-align: center;
}