div {
  margin: 0;
  padding: 0;
  border: 0;
}

.carousel {
  width: 100%;
  margin: 10% 0;
}

/* .relatedProducts {
  margin-top: 10%;
}

.outfit {
  margin-top: 5%;
} */

.card {
  /* Add shadows to create the "card" effect */
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 30em;
  margin: 1% 1%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image {
  height: 20em;
}

/* position button */
.icon {
  /* margin: 5% 0; */
  display: inline-block;
  position: relative;
  z-index: 100;
  margin: 0 0 0 50%;
}

.cardInfo {
  padding-left: 2%;;
}

.arrow {
  position: relative;
  margin: 17% 0;
  z-index: 1;
}

.left {
  position: relative;
  margin-left: 5%;
}

.right {
  position: relative;
  margin-right: 5%;
}

.modal {
  position: absolute;
  z-index: 2;
  max-height: 50vh;
  overflow-y: auto;
  top: 85%;
  margin: 0% 25%;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 1.5% 2% 2.5%;
}

.features {
  text-align: center;
}